body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #002ACC;
  }
  
  .right {
    right: 0;
    background-color: #ffffff;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
    
  }

  #logo{
    border-radius: 30%;
  }

  #heading{
    font-size: 60px;
  }

  #right-heading{

    margin-top: 80px;
    font-weight: 10; 
    color: #5A5A5A;
  }

  

.myButton {
	background-color:#0029cc;
	border-radius: 40px;
  border:none;
	display:inline-block;
	/* cursor:pointer; */
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:10px 76px;
	text-decoration:none;
  border-color: white;
	/* text-shadow:0px 0px 0px #2f6627; */
}
.myButton:hover {
	background-color: #eeee;
  color: black;

}
.myButton:active {
	position:relative;
	top:1px;
}

input{
  border: none;
  border-bottom: 2px solid black;
  border-radius: 40px;
  width: 100%;
  padding: 12px 20px;
  background-color: #EEEE;
}

#parents-btn{
  width: 30%;
  border: none;
  border-radius: 40px;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0029cc;
  color: white;
  font-size: 10px;
}
