body,
h1 {
  margin: 0;
  background-color: #eeeeee;
}

#img-logo {
  width: 48px;
  height: 48px;
  margin-top: 30px;
  border-radius: 9px;
}

.header-div {
  text-align: center;
}

.same {
  display: inline-block;
}

#heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: right;
  color: #ffffff;
}

.side-nav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #002acc;
}

.side-nav a {
  /* padding: 16px 8px 6px 16px; */
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  margin-left: 20px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #002acc;
  /* border-radius: 25px 0 0 0; */
  border-radius: 40px;
}

/*highlights side-nav when clicked*/
a:focus {
  background-color: silver;

  border-radius: 40px;
}

i {
  margin-left: 5px;
  padding-right: 20px;
  font-size: 20px;
}

.side-nav-a {
  position: relative;
  top: 5%;
}

/* image for the user */
.user-img {
  width: 60px;
  height: 60px;

  background: url("./images/max.jfif");
  background-size: 100%;
  border-radius: 40px;
}

/* right side (img, notification, settings icon)*/
.right-section {
  /*background-color: red;/* /* testing for rendering space */
  size: 10;
  position: absolute;
  right: 0px;
  top: 0px;
}

#menu-button:hover {
  border: 1px solid black;
}

.main {
  position: fixed;
  width: 78%;
  height: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 5%;
  text-align: center;
  top: 15%;
}

#announcement_content {
  text-align: left;
}

.top-section {
  position: fixed;
  top: 20px;
  margin-left: 20%;
  width: 78%;
  height: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.top-div {
  display: inline-block;
  color: #002acc;
}

.right-section {
  /*background-color: red;/* /* testing for rendering space */
  size: 10;
  position: absolute;
  right: 0px;
  top: 0px;
}

#drop-icon:hover {}

#drop-icon {
  padding: 0;
  width: 14px;
  height: 10px;
  right: 10%;
  margin-left: 78%;
}

.fa-solid {
  padding: 0;
}

.user-snippet {
  width: 148px;
  height: 60px;
  display: inline-block;
}

table,
td,
th {
  /* border: 3px solid black; */
  border: 1px solid black;
  border-collapse: collapse;
  /* border-radius: 20px; */
  font-family: Arial;
  overflow-wrap: normal;
  width: 200px;
}

table {
  width: 100%;
  height: 500px;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;

  /*KALVIN*/
  /*table-layout: fixed;
  overflow: auto;*/
}


#event_content thead th {
  height: 10%;
  background-color: gold;
}

#event_content tbody th {
  height: 15%;
  background-color: white;
}

.main,
.side-nav {
  overflow-y: scroll;
  overflow-x: scroll;
}

.side-nav::-webkit-scrollbar {
  /* display: none; */
  /* Safari and Chrome */
}

#content {
  background-color: ivory;
}

.main th {
  background-color: tomato;

}

form {
  border: 1px solid black;
  background-color: ivory;
}

.main h2 {
  background-color: goldenrod;
}


/* h2.event,
h2.behave{
  background-color: goldenrod;
} */

table textarea,
table input {
  border: transparent;
  background-color: ivory;
  width: 100%;
  height: 100%;
}