* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: bisque;
}

:root {
  --width: 100%;
}

/* SIDE BAR */
.v1_809,
.v1_813,
.v1_818,
.v1_823,
.v1_830,
.v1_834,
.v1_841,
.v1_845 {
  width: var(--width);
  height: 64px;
  /*background-color: aquamarine;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;

  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* SIDE BAR LOGOS */
.v1_810,
.v1_815,
.v1_819,
.v1_824,
.v1_831,
.v1_835,
.v1_842,
.v1_846 {
  width: 40px;
  height: 40px;

  opacity: 1;
  position: absolute;
  top: 12px;
  right: 24px;
  overflow: hidden;
}

.v1_889,
.v1_892,
.v1_897 {
  width: 207px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 10px;
  opacity: 1;
  position: absolute;

  overflow: hidden;
}

#side_panel {
  font-size: 30px;
  background-color: rgb(32, 0, 161);
  text-align: left;
  color: white;
  position: absolute;

  border: none;
  height: 100%;
  width: 100%;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* #side_panel2:hover {
  background-color: black;
} */

/* Hover for input button */
#side_panel:hover,
#grid_buttons:hover,
#grid_newChart:hover {
  background-color: lightcoral;
}

#grid_select:hover {
  border: 2px solid black;
}

#grid_submit:hover {
  border: 1px solid black;
}

#side_panel:focus {
  background-color: orangered;
}

#grid_buttons:active {
  background-color: tomato;
}

#grid_text {
  width: 80%;
  font-size: x-large;
  position: relative;
  top: 15px;
  height: 30px;
}

#grid_buttons,
#grid_select,
#grid_newChart {
  background-color: transparent;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align-last: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

#grid_submit {
  width: 30px;
  height: 30px;
  position: relative;
  top: 15px;
  background: url("../images/mag.svg");

  border: none;
}
/* START OF SIDE BAR MENU ------------------------------------------------------------------------------------------------------------------------- */

.v1_805 {
  /*background-color: bisque;*/
}

.v1_806 {
  width: 345px;
  height: 1163px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_807 {
  width: 345px;
  height: 100%;
  background-color: rgb(32, 0, 161);

  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_808 {
  width: 100%;
  height: 650px;
  position: absolute;
  top: 150px;

  overflow: hidden;
}

/* Dashboard */
.v1_809 {
}
.v1_810 {
  background: url("../images/home.svg");
}

/* Students */
.v1_813 {
}

.v1_815 {
  background: url("../images/user.svg");
}

/* Grades */
.v1_818 {
}
.v1_819 {
  background: url("../images/user.svg");
}

/* Attendance */
.v1_823 {
}
.v1_824 {
  background: url("../images/activity.svg");
}

/* Events */
.v1_830 {
}
.v1_831 {
  background: url("../images/calendar.svg");
}

/* Seating Chart */
.v1_834 {
}
.v1_835 {
  background: url("../images/activity.svg");
}

/* Announcements */
.v1_841 {
}
.v1_842 {
  background: url("../images/announcement.svg");
}

/* Options */
.v1_845 {
}

.v1_846 {
  background: url("../images/cog.svg");
}

/* Classparency */
.v1_848 {
  width: 230px;
  color: black;
  position: absolute;
  top: 55px;
  left: 94px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}

.v1_849 {
  width: 60px;
  height: 60px;
  /*background: url("../images/v1_849.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 29px;
  overflow: hidden;
}
.v1_850 {
  width: 60px;
  height: 60px;
  background: url("../images/v1_850.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* START OF SEATING CHART PAGE --------------------------------------------------------------------------------------------------------------------------------------------------*/

/* .v1_851 {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 517px;
  overflow: hidden;
}
.v1_852 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_852.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_853 {
  width: 30px;
  height: 37px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
} */
.v1_854 {
  width: 257px;
  color: rgba(1, 73, 181, 1);
  position: absolute;
  top: 50px;
  left: 395px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_855 {
  width: 100%;
  height: 873px;
  background: url("../images/v1_855.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 392px;
  overflow: hidden;
}
.v1_856 {
  width: 100%;
  height: 873px;
  background: url("../images/v1_856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_857 {
  width: 100%;
  height: 873px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

/* Front */
.v1_858 {
  width: 100%;
  height: 75px;
  background: url("../images/v1_858.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 395px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_859 {
  width: 100%;
  height: 75px;
  background: url("../images/v1_859.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_860 {
  width: 100%;
  height: 75px;
  background: rgb(252, 62, 62);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_861 {
  width: 207px;
  height: 60px;

  display: flex;
  justify-content: center;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 1648px;
  overflow: hidden;
}
.v1_862 {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
/* .v1_863 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_863.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 96px;
  overflow: hidden;
} */
/* .v1_864 {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
} */
/* .v1_865 {
  width: 207px;
  height: 60px;
  background: rgba(0, 82, 204, 1);
  padding: 16px 43px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 20px 50px
    rgba(
      0.7490196228027344,
      0.08235294371843338,
      0.42352941632270813,
      0.05000000074505806
    );
  overflow: hidden;
} */
/* .v1_866 {
  width: 127px;
  height: 27px;
  background: url("../images/v1_866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 40px;
  overflow: hidden;
}
.v1_867 {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v1_868 {
  width: 95px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 33px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
} */
/* .v1_869 {
  width: 112px;
  height: 32px;
  background: url("../images/v1_869.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1571px;
  overflow: hidden;
} */
/* .v1_870 {
  width: 32px;
  height: 32px;
  background: url("../images/v1_870.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
} */
/* .v1_871 {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
} */
/* .v1_872 {
  width: 32px;
  height: 32px;
  background: url("../images/v1_872.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
} */
/* .v1_873 {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
} */
.v1_874 {
  width: 14px;
  height: 9px;
  background: red;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1683px;
}
.v1_875 {
  width: 148px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1518px;
  overflow: hidden;
}
.v1_876 {
  width: 148px;
  height: 60px;
  background: url("../images/v1_876.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_877 {
  width: 60px;
  height: 60px;

  background: url("../images/max.jfif");
  background-size: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
/* .v1_878 {
  width: 64px;
  height: 46px;
  background: url("../images/v1_878.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  overflow: hidden;
} */
.v1_879 {
  width: 100%;
  color: blue;
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_880 {
  width: 100%;
  color: rgba(160, 152, 174, 1);
  position: relative;
  top: 25px;
  right: 80px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_881 {
  width: 26px;
  height: 26px;

  background: url("../images/cog_black.svg");
  background-color: grey;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 1810px;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.v1_882 {
  width: 30px;
  height: 30px;
  background: url("../images/bell_black.svg");

  opacity: 1;
  position: absolute;
  top: 60px;
  left: 1736px;
}
.v1_883 {
  width: 8px;
  height: 7px;
  background: rgba(0, 82, 204, 1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 1752px;
  border-radius: 50%;
}

/* Search Bar */
.v1_884 {
  width: 300px;
  height: 60px;

  position: absolute;
  display: flex;
  justify-content: center;
  top: 47px;
  left: 1098px;

  overflow: hidden;
}
.v1_885 {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  background-color: ivory;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  opacity: 1;

  overflow: hidden;
}

/* .v1_886 {
  width: 20px;
  height: 20px;
  background: url("../images/mag.svg");
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 10px;
  overflow: hidden;
} */
/* .v1_887 {
  width: 23px;
  height: 23px;
  background: rgba(0, 82, 204, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
} */
/* .v1_888 {
  width: 120px;
  color: rgba(160, 152, 174, 1);
  position: absolute;
  top: 16px;
  left: 80px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
} */

/* SEATING CHART: STUDENT BUTTON */
.v1_889 {
  top: 166px;
  left: 441px;
}

/* SEATING CHART: OPTION SELECTOR */
.v1_892 {
  top: 163px;
  left: 895px;
}
/* .v1_893 {
  width: 155px;
  height: 32px;
  background: url("../images/v1_893.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 26px;
  overflow: hidden;
} */
/* .v1_894 {
  width: 107px;
  color: rgba(0, 82, 204, 1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_895 {
  width: 32px;
  height: 32px;

  opacity: 1;
  position: absolute;
  top: 0px;
  left: 123px;
  overflow: hidden;
} */
/* .v1_896 {
  width: 20px;
  height: 12px;

  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
} */
.v1_897 {
  top: 163px;
  left: 668px;
}
/* .v1_898 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v1_899 {
  width: 80px;
  color: rgba(0, 82, 204, 1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_900 {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  overflow: hidden;
} */
/* .v1_901 {
  width: 20px;
  height: 12px;
  background: rgba(0, 82, 204, 1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
} */
.v1_902 {
  width: 151px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 261px;
  left: 1057px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_903 {
  width: 936px;
  height: 96px;
  background: url("../images/v1_903.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 453px;
  overflow: hidden;
}
.v1_904 {
  width: 337px;
  height: 296px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 702px;
  left: 545px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_905 {
  width: 75px;
  height: 75px;
  background: rgba(128, 169, 229, 1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 131px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_906 {
  width: 246px;
  height: 34px;
  background: rgba(1, 73, 181, 1);
  padding: 16px 43px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 46px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 20px 50px
    rgba(
      0.7490196228027344,
      0.08235294371843338,
      0.42352941632270813,
      0.05000000074505806
    );
  overflow: hidden;
}
.v1_907 {
  width: 211px;
  height: 27px;
  background: url("../images/v1_907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 17px;
  overflow: hidden;
}
.v1_908 {
  width: 211px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_909 {
  width: 14px;
  color: rgba(14, 59, 127, 0.5899999737739563);
  position: absolute;
  top: 195px;
  left: 46px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_910 {
  width: 71px;
  color: rgba(14, 59, 127, 0.5899999737739563);
  position: absolute;
  top: 195px;
  left: 216px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_911 {
  width: 69px;
  color: rgba(14, 59, 127, 0.5899999737739563);
  position: absolute;
  top: 216px;
  left: 46px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_912 {
  width: 76px;
  color: rgba(14, 59, 127, 0.5899999737739563);
  position: absolute;
  top: 216px;
  left: 216px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_913 {
  width: 71px;
  color: rgba(14, 59, 127, 0.5899999737739563);
  position: absolute;
  top: 239px;
  left: 217px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_914 {
  width: 44px;
  color: rgba(14, 59, 127, 0.5899999737739563);
  position: absolute;
  top: 239px;
  left: 46px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
